# Make a copy of this file with the name .env and assign values to variables

# Uncomment and complete to set QDRANT variables
# QDRANT_COLLECTION=literature-docs
# QDRANT_URL=http://localhost:6333

# Uncomment and complete to set SQLITE variable
SQLITE_DB_PATH=~/.watchtower/watchtower.db

# Uncomment and complete to set Embedding model
# EMBEDDING_MODEL=naver/splade-cocondenser-ensembledistil


## LLM Variables
# Uncomment and complete if you want to use OpenAI
# LLM_TYPE=openai
# OPENAI_API_KEY=

# Uncomment and complete if you want to use Azure OpenAI
# LLM_TYPE=azure
# OPENAI_VERSION=
# OPENAI_BASE_URL=
# OPENAI_API_KEY=
# OPENAI_ENGINE=

# Uncomment and complete if you want to use Bedrock LLM
# LLM_TYPE=bedrock
# AWS_ACCESS_KEY=
# AWS_SECRET_KEY=
# AWS_REGION=
# AWS_MODEL_ID=

# Uncomment and complete if you want to use Vertex AI
# LLM_TYPE=vertex
# VERTEX_PROJECT_ID=
# VERTEX_REGION=
# GOOGLE_APPLICATION_CREDENTIALS=

# Uncomment and complete if you want to use Mistral AI
# LLM_TYPE=mistral
# MISTRAL_API_KEY=
# MISTRAL_API_ENDPOINT=
# MISTRAL_MODEL=

# Uncomment and complete if you want to use Cohere
# LLM_TYPE=cohere
# COHERE_API_KEY=
# COHERE_MODEL=
